.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Montserrat;
  padding: 0;
}

.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
}

.navbar a: hover {
  background: green;
  color: black;
}

img {
  width: auto;
  height: auto;
}

.main {
  margin-top: 30px;
}

p {
  font-family: Montserrat;
}

h1 {
  font-family: Monsterrat;
  font-weight: bold;
}

h2 {
  color: white;
  background-color: green;
  opacity: 0.50;
  font-family: Montserrat;
}

h3 {
  font-family: Monsterrat;
}

li {
  font-family: Monsterrat;
}
